@import "./info-page.css";
@import "./home-page.css";
@import "./notice-page.css";
@import "./qna-page.css";
@import "./reset.css";

#App {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#main {
  width: 480px;
  display: flex;
  justify-content: center;
  background: aliceblue;
}
