/*
Layout Properties (position, float, clear, display)
Box Model Properties (width, height, margin, padding)
Visual Properties (color, background, border, box-shadow)
Typography Properties (font-size, font-family, text-align, text-transform)
Misc Properties (cursor, overflow, z-index)
*/

.InfoPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.MainContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 600px;
}

.InfoContent {
  width: 60%;
  height: 70%;
  background: cornflowerblue;
}
